<!DOCTYPE html>
<html>
  <head>
    <title>CSS Layout-2</title>
  </head>
  <body>
    <header
      style="text-align: center; background-color: turquoise; height: 110px"
    >
      <h1 style="padding-top: 33px">&lt; header &gt;</h1>
    </header>

    <nav
      style="
        text-align: center;
        background-color: turquoise;
        height: 60px;
        font-weight: bold;
        font-size: 18px;
      "
    >
      <p style="padding-top: 20px">&lt; nav &gt;</p>
    </nav>
    <section style="height: 900px; width: 1200px">
      <main
        style="
          display: inline-block;
          height: 100%;
          width: 60%;
          background-color: coral;
          text-align: center;
          font-weight: bold;
          font-size: x-large;
          margin: 5px 0px 0px 0px;
        "
      >
        <p style="padding-top: 38%">&lt; main &gt;</p>
      </main>

      <div style="height: 100%; width: 40%; display: inline-block">
        <aside
          style="
            display: inline-block;

            height: 380px;
            width: 100%;
            background-color: crimson;
            text-align: center;
            font-size: x-large;
            font-weight: bold;
          "
        >
          <p>&lt; aside &gt;</p>
        </aside>

        <aside
          style="
            display: inline-block;
            width: 100%;
            height: 380px;
            background-color: crimson;
            text-align: center;
            font-size: x-large;
            font-weight: bold;
            margin: 10px 0px 0px 0px;
          "
        >
          <p>&lt; section &gt;</p>
        </aside>
      </div>
    </section>
  </body>
</html>
