<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Layout</title>
  </head>
  <body style="margin: 0">
    <h1
      style="
        display: inline-block;
        font-family: cursive;
        text-align: center;
        background-color: violet;
        border-radius: 50%;
        height: 100px;
        margin-left: 760px;
        padding-top: 50px;
        padding-right: 5%;
        padding-left: 5%;
      "
    >
      CSS Layout
    </h1>
    <header
      style="
        font-family: cursive;
        text-align: centeLayoutr;
        height: 100px;
        background-color: aqua;
        margin-left: 10px;
        margin-right: 10px;
      "
    >
      <h1 style="text-align: center; padding-top: 25px">Header</h1>
    </header>
    <nav
      style="
        font-family: cursive;
        font-size: x-large;
        text-align: center;
        background-color: darkgray;
        height: 60px;
        margin-left: 10px;
        margin-right: 10px;
      "
    >
      <p style="padding-top: 10px">navigation</p>
    </nav>
    <aside
      style="
        display: inline-block;
        width: 425px;
        height: 700px;
        background-color: blueviolet;
        font-family: cursive;
        font-size: xx-large;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 25px;
      "
    >
      <p style="padding-top: 350px">aside</p>
    </aside>
    <main
      style="
        display: inline-block;
        vertical-align: top;
        width: 890px;
        height: 700px;
        text-align: center;
        font-family: cursive;
        background-color: green;
        font-size: xx-large;
        margin-top: 25px;
      "
    >
      <p style="padding-top: 350px">main</p>
    </main>
    <aside
      style="
        display: inline-block;
        width: 425px;
        height: 700px;
        background-color: blueviolet;
        font-family: cursive;
        font-size: xx-large;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 25px;
      "
    >
      <p style="padding-top: 350px">aside</p>
    </aside>
    <footer
      style="
        font-family: cursive;
        text-align: centeLayoutr;
        height: 100px;
        background-color: aqua;
        margin-left: 10px;
        margin-right: 10px;
      "
    >
      <h1 style="text-align: center; padding-top: 25px">Footer</h1>
    </footer>
  </body>
</html>
