<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section style="height: 900px; width: 1200px; border: 1px solid black">
      <main
        style="
          height: 100%;
          width: 60%;
          border: 1px solid red;
          display: inline-block;
        "
      ></main>

      <aside
        style="
          height: 100%;
          width: 39%;
          border: 1px solid blue;
          display: inline-block;
        "
      >
        <aside
          style="height: 49%; border: 1px solid purple; margin-bottom: 10px"
        ></aside>
        <section
          style="height: 49%; border: 1px solid pink; margin-top: 10px"
        ></section>
      </aside>
    </section>
  </body>
</html>
